*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    
    .container{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(225, 225, 226, 0.8);
        box-shadow: 0px 0px 10px #CCC;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;

        min-height: 600px;
    
        header{
            width: 100%;
            height: 120px;
            background-color: #FFFF;
            border-bottom: 1px solid rgba(225, 225, 226, 0.8);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
    
            div{
                flex-basis: 57%;
                flex-grow: 1;
                margin-left: 24px;

    
                h1{
                    display: inline-block;
                    color: black;
                    font-family: Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: 900px;
                    font-size: 35px;
                    text-shadow: 1px 1px 0px #CCC;
                }
            }
    
            nav{
                display: flex;
                justify-content: right;
                width: 90%;
                height: 100%;
                flex-grow: 1;
                flex-basis: 30%;
                // padding-right: 10px;

                a{
                    // margin-right: 25px;
                    padding: 13px;
                    align-self: center;
                    font-size: 15px;
                    color: #444;
                    transition: all 300ms;

                    &:hover{
                        background-color: #ccc;
                        color: white;
                    }

                    &:last-child{
                        margin-right: 30px;
                    }
                }
            }
        }


        section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 50px;

            aside{
                width: 300px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-left: 15px;
                margin-right: 25px;

                h4{
                    
                    font-size: 15px;
                    color: #948585;
                    text-align: center;
                    margin-bottom: 30px;
                }

                nav{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    a{
                        height: auto;
                        color: #444;
                        padding:20px;
                        width: 142px;
                        background-color: #EEEEEE;
                        margin-bottom: 20px;
                        text-align: center;
                        align-self: center;

                        &:hover{
                            background-color: #ccc;
                            color: white;
                        }
                    }
                }
            }
            


            #boxes{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-right: 20px;

                article{
                    margin-bottom: 10px;
                    margin-right: 10px;
                    width: 14.063rem;
                    box-shadow: 0px 0px 10px #CCC;

                    img{
                        width: 14.063rem;
                    }

                    .text{
                        font-size: 14px;
                        margin-bottom: 10px;
                        margin-left: 10px;

                        a{
                            color: #9E9E9E;
                        }
                    }
                    
                }
            }

        }

        footer{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: baseline;

            div{
                margin-left: 25px;
                margin-bottom: 40px;

                h1{
                    display: inline-block;
                    color: #808080;
                    font-family: Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: 900px;
                    font-size: 35px;
                    text-shadow: 1px 1px 0px #CCC;
                }
            }

            p{
                font-size: 15px;
                margin-right: 30px;
            }
            
        }
    }
}

