*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    
    .container{
        border: 1px solid rgba(225, 225, 226, 0.8);
        box-shadow: 0px 0px 10px #CCC;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;

        min-height: 600px;
    
        header{
            width: 100%;
            height: 120px;
            background-color: #FFFF;
            border-bottom: 1px rgba(225, 225, 226, 0.8);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
    
            div{
                flex-basis: 57%;
                flex-grow: 1;
                // padding: 10px;
                margin-left: 24px;

    
                h1{
                    display: inline-block;
                    color: black;
                    font-family: Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: 900px;
                    font-size: 35px;
                    text-shadow: 1px 1px 0px #CCC;
                }
            }
    
            nav{
                display: flex;
                justify-content: right;
                width: 90%;
                height: 100%;
                flex-grow: 1;
                flex-basis: 30%;
                // padding-right: 10px;

                a{
                    // margin-right: 25px;
                    padding: 13px;
                    align-self: center;
                    font-size: 15px;
                    color: #444;
                    transition: all 300ms;

                    &:hover{
                        background-color: #ccc;
                        color: white;
                    }

                    &:last-child{
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

